.website-home {
  section.page-intro {
    margin-bottom: 0 !important;

    .jumbotron {
      background-image: url("/assets/img/banner-intro.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 140px 2rem;
      margin-bottom: 0;
      position: relative;

      .container {
        position: relative;
        z-index: 10;

        p {
          font-size: 1.1rem;
          font-weight: 300;
        }
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 100%;
      }
    }
  }

  section.messages-system {
    margin-top: 25px;
    margin-bottom: 0 !important;

    .alert {
      padding: 15px;
			margin-bottom: 0;
			transition: box-shadow 300ms;

      .close {
        color: #333;
      }

      .alert-content {
        display: flex;
        max-width: 90%;
        color: #333;

        .alert-container-text {
          display: flex;
          align-items: center;
          flex-grow: 1;

          .alert-text {
            margin-right: 65px;

            .alert-heading {
              font-size: 1.2rem;
              font-weight: 600;
              margin-bottom: 2.5px;
              line-height: 1.2;
            }
          }

          .alert-action {
            i {
              font-size: 1.4rem;
            }
          }
        }
      }

			&:hover {
				box-shadow: $card-box-shadow;
			}
    }
  }

  section.products-lists {
    margin-bottom: 0 !important;

    section {
      padding: 50px 0;
      margin-bottom: 0 !important;

      &:nth-child(2n) {
        background-color: #fff;
      }

      .products-list-header {
        .product-list-title {
          font-size: 1.85rem;
          margin-bottom: 0;

          strong {
            font-weight: 600;
            color: $primary;
          }
        }

        .product-list-lead {
          font-size: 1rem;
          font-weight: 300;
        }
      }

      &.products-list-offers {}

      &.products-list-features {}

      &.products-list-vouchers {}

      &.products-list-reward {}
    }
  }

  section.social-network {
    padding: 80px 0;

    .intro {
      h2 {
        strong {
          color: $primary;
        }
      }
    }
  }
}
