.btn {

  // Product Button Variations
  &.btn-product-reward {
    @include button-variant($product-reward);
  }

  &.btn-outline-product-reward {
    @include button-outline-variant($product-reward);
  }

  &.btn-product-offer {
    @include button-variant($product-offer);
  }

  &.btn-outline-product-offer {
    @include button-outline-variant($product-offer);
  }

  // Social Network Button Variations
  &.btn-facebook {
    @include button-variant($brand-facebook);
  }

  &.btn-outline-facebook {
    @include button-outline-variant($brand-facebook);
  }

  // Btn Styles
  &.btn-circle {
    padding: 9px 0;
    font-size: 1rem;
    line-height: 1;
    border-radius: inherit;
    min-width: 34px;
    height: 34px;
    text-align: center;
    border-radius: 50% !important;
  }
}
