.card {
  &.card-product {
    margin-bottom: 15px;
    color: $body-color;
    transition: all 300ms;

    .card-image {
      padding-top: 30px;
      padding-bottom: 60%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0.625rem 0.625rem 0 0;
      position: relative;

      .card-product-type {
        position: absolute;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        border-radius: 0 0.625rem 0 0.625rem;
        font-size: 1.2rem;

        i {
          color: #FFF;
        }
      }
    }

    .card-content-info {
      width: 100%;
      display: flex;
      align-items: center;
      color: #FFF;

      .card-product-points,
      .card-product-points-lead {
        display: flex;
        align-items: center;
        height: 35px;
        padding: 0 15px;

        @media (max-width: 768px - 1px) {
          height: 32px;
          padding: 0 8px;
        }
      }

      .card-product-points {
        position: relative;
        font-size: 1.1rem;
        font-weight: 700;
        padding-right: 30px;

        &:before {
          position: absolute;
          content: '';
          display: block;
          width: 0px;
          height: 0px;
          border-top: 17.5px solid transparent;
          border-bottom: 17.5px solid transparent;
          border-right: 14px solid transparent;
          top: 0;
          right: 0;
        }

        @media (max-width: 768px - 1px) {
          font-size: 1rem;

          &:before {
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
          }
        }
      }

      .card-product-points-lead {
        flex-grow: 1;
        font-weight: 400;
        font-size: 1rem;
        padding: 0 15px;
        position: relative;
        background-color: #fff;

        strong {
          font-weight: 700;
        }

        @media (max-width: 768px - 1px) {
          font-size: 0.9rem;
        }
      }
    }

    .card-body {
      padding: 1.25rem 1.25rem 2rem;

      .card-title {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.3;
      }

      .card-text,
      .card-date-expiration {
        margin-bottom: 15px;
      }

      .card-date-expiration {
        strong {
          color: $danger;
        }
      }

      .card-rules {
        font-size: 0.8rem;
        font-style: italic;
        margin-bottom: 0;
      }
    }

    .card-footer {
      align-items: center;
      padding: 0 1.25rem 15px;
      background-color: #FFF;
      border-top: 0;

      .btn {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn-text,
        .btn-icon {
          display: inline-block;
        }

        .btn-text {
          width: calc(100% - 20px);
          font-weight: 600;
          font-weight: 400;
          text-align: center;
          white-space: normal;

          strong {
            font-weight: 600;
          }
        }
      }
    }

    &.is-reward {
      .card-image {
        .card-product-type {
          background-color: $product-reward;
          font-weight: 900;

          i {
            &:before {
              content: "\f005";
            }
          }
        }
      }

      .card-content-info {
        background-color: $product-reward;

        .card-product-points {
          background-color: $product-reward;

          &:before {
            border-right-color: #FFF;
          }
        }

        .card-product-points-lead {
          background-color: #fff;
          color: $product-reward;

          &:before {
            border-right-color: $product-reward;
          }
        }

        .card-product-type {
          i {
            &:before {
              content: "\f005";
            }
          }
        }
      }

      .card-footer {
        .btn {
          @extend .btn-outline-product-reward;
        }
      }
    }

    &.is-offer {
      .card-image {
        .card-product-type {
          background-color: $product-offer;
          font-weight: 900;

          i {
            &:before {
              content: "\f06b";
            }
          }
        }
      }

      .card-content-info {
        background-color: $product-offer;

        .card-product-points-lead {
          background-color: $product-offer;
          color: #FFF;
        }

        .card-product-type {
          i {
            &:before {
              content: "\f06b";
            }
          }
        }
      }

      .card-footer {
        .btn {
          @extend .btn-outline-product-offer;
        }
      }
    }

    &.is-not-available {

      .card-body,
      .card-footer {
				opacity: 0.5;
				transition: all 300ms;
      }
    }

    &:hover {
      box-shadow: $card-box-shadow;

      .card-body,
      .card-footer {
        opacity: 1;
      }
    }
  }
}
