.card {
  &.card-toggle,
  &.card-action {
    .card-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      .card-title {
        flex: 1 1 auto;
      }

      .card-actions {
        flex: 0 0 auto;
      }
    }
  }

  &.clean {
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);

    .card-body {
      height: 233px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px 25px;

      i {
        margin-bottom: 13px;
      }

      p {
        text-align: center;
      }
    }
  }
}
