.flash__wrapper {
  top: 90px;
  align-items: flex-end;

  .alert {
    margin: 15px;
    box-shadow: $card-box-shadow;
  }

  @media (max-width: 992px - 1px) {
    top: inherit;
    align-items: center;
    bottom: 0;
  }
}
