footer#page-footer {
  background-color: #fff;
  box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.075);
  color: #656565;

  .content-footer {
    padding-top: 50px;
    padding-bottom: 20px;

    @include make-container();
    @include make-container-max-widths();

    .content-brand {
      a {
        display: inline-block;

        img {
          display: inline-block;

          @media (max-width: 992px - 1px) {
            max-width: 220px;
            max-height: 80px;
          }
        }
      }

      p {
        line-height: 1.5;
        margin-bottom: 25px;
      }

      @media (max-width: 991px) {
        text-align: center;
      }
    }

    .content-business-info {
      p {
        margin-bottom: 15px;
        line-height: 1.3;

        strong {
          font-weight: 700;
        }
      }
    }

    .content-social-networks {
      ul.list-social-links {
        list-style: none;
        padding: 0;

        li {
          position: relative;
          margin-bottom: 15px;
          line-height: 1.3;

          a.link-social {
            display: inline-block;
            text-decoration: none;

            .social-brand,
            .social-text {
              display: inline-block;
            }

            .social-brand {
              width: 32px;
              margin-right: 8px;
              font-size: 1.6rem;
              text-align: center;
              color: #656565;

              i {
                position: relative;
                top: 5px;
              }
            }

            .social-text {
              vertical-align: middle;
              display: inline-block;
              color: #656565;

              strong {
                color: #656565;
                transition: all 300ms;
              }
            }

            &:hover {
              .social-text {
                strong {
                  color: var(--primary) !important;
                }
              }

              &.link-facebook {

                .social-brand,
                .social-text strong {
                  color: $brand-facebook !important;
                }
              }

              &.link-instagram {

                .social-brand,
                .social-text strong {
                  color: $brand-instagram !important;
                }
              }

              &.link-whatsapp {

                .social-brand,
                .social-text strong {
                  color: $brand-whatsapp !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .content-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.075);
    padding: 10px 0;
    font-size: 0.85rem;
    text-align: center;

    a {
      color: #05E2B5;
      font-weight: 700;

      &:hover {
        color: darken(#05E2B5, 5%);
      }
    }
  }
}
