header#page-header {
  background-color: #fff;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.075);
  transition: background-color 0.2s linear;

  .content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 80px;

    @include make-container();
    @include make-container-max-widths();

    .content-header-section {
      flex: 0 0 auto;

      .btn {
        &.btn-menu {
          width: 40px;
          height: 40px;
          border: 0;
          margin-right: 5px;
        }
      }

      a.header-brand {
        display: inline-block;

        img {
          max-width: 180px;
          max-height: 60px;

          @media (max-width: 992px - 1px) {
            max-width: 100px;
            max-height: 40px;
          }
        }
      }

      ul.nav-header-menu {
        display: flex;
        align-items: center;
        margin: 0 -3px;
        padding: 0;
        list-style: none;
        vertical-align: middle;

        >li {
          position: relative;
          display: inline-block;
          margin: 0 3px;

          .dropdown-menu {
            box-shadow: $card-box-shadow;
            border-radius: 0.625rem;
            max-width: 320px;
          }

          >a {
            color: #656565;
            position: relative;
            display: inline-block;
            padding: 9px 10px;
            line-height: 16px;
            border-radius: 3px;
            text-decoration: none;
            outline: 0;
            opacity: 0.7;
            font-size: 1rem;
            transition: all 300ms;

            &:focus,
            &:hover {
              color: darken(#656565, 25%);
              opacity: 1;
            }
          }

          .btn {
            margin-right: 15px;

            &:first-child {
              margin-right: 0;
            }
          }

          &.menu-item-user,
          &.menu-item-user-points {
            >a {
              height: 65px;
            }
          }

          &.menu-item-user {
            border-left: solid thin rgba(0, 0, 0, 0.1);

            >a {
              display: flex;
              align-items: center;
              opacity: 1;
              transition: all 300ms;
              margin-left: 5px;

              .user-avatar {
                max-height: 45px;
                margin-right: 10px;
                border: solid thin #cbcbcb;
                transition: all 300ms;
              }

              .user-info {
                color: var(--primary);
                text-align: left;
                line-height: 1.2;
                font-size: 1rem;
                font-weight: 600;
                transition: all 300ms;

                small {
                  font-size: 80%;
                  font-weight: 300;
                }

                @media (max-width: 992px - 1px) {
                  display: none;
                }
              }

              &:after {
                content: "";
                display: none;
              }

              &:hover {
                background-color: rgba(0, 0, 0, 0.04);
              }
            }
          }

          &.menu-item-user-points {
            >a {
              display: flex;
              align-items: center;
              margin-right: 5px;
              opacity: 1;
              transition: all 300ms;

              .points-icon {
                font-size: 1.5rem;
                margin-right: 10px;
                color: $warning;
                transition: all 300ms;
              }

              .points-quantity {
                text-align: left;
                line-height: 1.2;
                font-size: 1rem;
                font-weight: 600;
                color: $warning;
                transition: all 300ms;

                small {
                  font-size: 80%;
                  font-weight: 300;
                  color: #656565;
                }
              }

              &:after {
                content: "";
                display: none;
              }

              &:hover {
                background-color: rgba(0, 0, 0, 0.04);
              }
            }

            .dropdown-menu {
              min-width: 400px;

              .dropdown-item {
                white-space: normal;
                display: flex;
                flex-flow: row;
                align-items: center;
                padding-top: .875rem;
                padding-bottom: .875rem;
                border-bottom: 1px solid #e1e5eb;

                .points__icon-wrapper {
                  display: flex;
                  padding: 0 5px;

                  .points__icon {
                    background-color: #f5f6f8;
                    box-shadow: 0 0 0 1px #fff, inset 0 0 3px rgba(0, 0, 0, .2);
                    width: 2.1875rem;
                    height: 2.1875rem;
                    line-height: 0;
                    display: block;
                    text-align: center;
                    margin-right: 15px;
                    border-radius: 50%;

                    i {
                      color: #818ea3;
                      line-height: 2.0625rem;
                      font-size: 1.0625rem;
                      margin: 0;
                    }
                  }
                }

                .points__content {
                  .points__category {
                    font-size: .5625rem;
                    color: #818ea3;
                    letter-spacing: .0938rem;
                    display: inline-block;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    font-weight: 500;
                  }

                  p {
                    margin: 0;
                    line-height: 1.5;
                  }
                }

                &.points__all {
                  display: block;
                  font-weight: 700;
                  font-size: 11px;
                  color: var(--primary);
                  border-bottom-left-radius: .375rem;
                  border-bottom-right-radius: .375rem;
                  text-align: center;
                }
              }
            }
          }

          &:first-child {
            a {
              padding-left: 0;
            }
          }

          &:last-child {
            &:not(.menu-item-user) {
              a {
                padding-right: 0;
              }
            }
          }

          &.active {
            a {
              opacity: 1;
              color: var(--primary);
              font-weight: 700;
            }
          }
        }
      }

      &.align-right {
        text-align: right;

        ul.nav-header-menu {
          justify-content: flex-end;

          li {
            .btn {
              margin-left: 15px;

              &:last-child {
                margin-left: 0;
              }
            }
          }
        }

        @media (max-width: 992px - 1px) {
          margin-left: auto;
        }
      }

      &:first-child,
      &:last-child {
        width: calc((100% - 200px) / 2);
        flex-grow: 1;

        @media (max-width: 992px - 1px) {
          width: auto;
        }
      }

      &:nth-child(2) {
        width: 200px;
        flex-shrink: 0;
        flex-grow: 0;
        text-align: center;

        @media (max-width: 992px - 1px) {
          width: auto;
        }
      }

      &.align-right {
        .nav-header-menu {

          .menu-item-user-points,
          .menu-item-user {
            display: none;
          }

          @media (max-width: 992px - 1px) {

            .menu-item-signin,
            .menu-item-user {
              display: none;
            }
          }

          &.is-logged {

            .menu-item-user-points,
            .menu-item-user {
              display: inline-block;
            }

            .menu-item-signin,
            .menu-item-signup {
              display: none;
            }

            @media (max-width: 992px - 1px) {
              .menu-item-user {
                display: none;
              }
            }
          }
        }
      }

      @media (max-width: 992px - 1px) {
        flex-grow: 0 !important;
      }
    }

    @media (max-width: 992px - 1px) {
      justify-content: inherit;
    }
  }

  &.is-brand-only {
    .content-header {
      .content-header-section {
        text-align: center;
      }
    }
  }
}
