aside.main-sidebar {
  width: 100%;

  div.main-navbar {
    .navbar {
      .navbar-brand {
        img {
          max-height: 35px;
          max-width: 150px;
        }

        .toggle-sidebar {
          right: inherit;
          left: 0;
          border-left: 0;
          border-right: 1px solid #becad6;
        }
      }
    }
  }

  .nav-wrapper {
    overflow-y: auto;

    .main-sidebar__nav-title {
      margin: 0;
      font-size: .9rem;
      padding: 20px 1.5625rem 2.5px;
      font-weight: 400;
    }

    .nav {
      .nav-item {
        .nav-link {
          font-family: $headings-font-family;
          font-size: 0.9rem;
          font-weight: 400;
          color: $body-color;
          opacity: 0.6;
          transition: all 300ms;

          i {
            font-size: 130%;
            color: var(--primary);
            transition: all 300ms;
            margin-right: 10px;
          }

          &:hover,
          &:active {
            box-shadow: none;
            opacity: 1;
          }

          &.active {
            color: var(--primary);
            box-shadow: none;
            opacity: 1;

            i {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
