.page-header-intro {
  height: 120px;
  background-color: $light;
  position: relative;

  .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 15px;
    @include make-container();
    @include make-container-max-widths();

    .page-header-content,
    .page-header-action {
      width: 100%;
    }

    .page-header-content {

      .header-intro-title,
      .header-intro-description {
        margin-bottom: 0;
      }

      .header-intro-title {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.35;

        strong {
          font-weight: 600;
        }

        @media (max-width: 992px - 1px) {
          font-size: 2rem;
        }

        @media (max-width: 576px - 1px) {
          font-size: 1.75rem;
        }
      }

      .header-intro-description {
        font-size: 1.1rem;
        font-weight: 400;
        margin-bottom: 0;
      }
    }

    .page-header-action {
      margin-top: 20px;
    }
  }

  &.page-header-intro-home {
    height: 200px;

    &.is-user-logged {
      .wrapper {
        .page-header-content {
          position: relative;

          &:after {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            content: "\f582";
						font-family: "Font Awesome 5 Pro";
						font-weight: 700;
            font-size: 7rem;
            color: #fff;
            top: 0;
            bottom: 0;
            right: 0;

						@media (max-width: 576px - 1px) {
							display: none;
						}
          }
        }
      }
    }

    @media (max-width: 576px - 1px) {
      height: inherit;
    }
  }

  @media (max-width: 576px - 1px) {
    height: inherit;
  }
}
