header#page-header {
  background-color: #fff;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.075);
  transition: background-color 0.2s linear;

  .content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 80px;

    @include make-container();
    @include make-container-max-widths();

    .content-header-section {
      flex: 0 0 auto;

      .btn {
        &.btn-menu {
          width: 35px;
          height: 35px;
          border: 0;
          border-radius: 50%;
          padding: 0;
          margin-right: 10px;

          i {
            font-size: 18px;
          }
        }
      }

      a.header-brand {
        display: inline-block;

        img {
          max-width: 180px;
          max-height: 60px;
        }
      }

      ul.nav-header-menu {
        display: flex;
        align-items: center;
        margin: 0 -3px;
        padding: 0;
        list-style: none;
        vertical-align: middle;

        >li {
          position: relative;
          display: inline-block;
          margin: 0 3px;

          .dropdown-menu {
            box-shadow: $card-box-shadow;
            border-radius: 0.625rem;
            max-width: 320px;
          }

          >a {
            position: relative;
            display: inline-block;
            padding: 9px 10px;
            line-height: 16px;
            text-decoration: none;
            outline: 0;
            font-size: 1rem;
            transition: all 300ms;

            &.btn {
              font-weight: 500;
            }

            &:not(.btn) {
              opacity: 0.7;
              color: #656565;
              border-radius: 3px;
            }

            &:focus,
            &:hover {
              &:not(.btn) {
                color: darken(#656565, 25%);
                opacity: 1;
              }
            }
          }

          .btn {
            margin-right: 15px;

            &:first-child {
              margin-right: 0;
            }
          }

          &.menu-item-user,
          &.menu-item-user-points {
            >a {
              height: 65px;
            }
          }

          &.menu-item-user {
            border-left: solid thin rgba(0, 0, 0, 0.1);

            >a {
              display: flex;
              align-items: center;
              opacity: 1;
              transition: all 300ms;
              margin-left: 5px;

              .user-avatar {
                max-width: 45px;
                margin-right: 10px;
                border: solid thin #cbcbcb;
                transition: all 300ms;
              }

              .user-info {
                color: #333;
                text-align: left;
                line-height: 1.2;
                font-size: 1rem;
                font-weight: 600;
                transition: all 300ms;

                small {
                  font-size: 80%;
                  font-weight: 400;
                }

                @media (max-width: 992px - 1px) {
                  display: none;
                }
              }

              &:after {
                margin-left: 0.8rem;
              }

              &:hover {
                background-color: rgba(0, 0, 0, 0.04);
              }
            }
          }

          &.menu-item-user-points {
            >a {
              display: flex;
              align-items: center;
              margin-right: 0;
              opacity: 1;
              transition: all 300ms;

              .points-quantity {
                text-align: left;
                line-height: 1;
                font-size: 2.3rem;
                font-weight: 800;
                color: $review;
                margin-right: 10px;
              }

              .points-text {
                text-align: left;
                line-height: 1.2;
                font-size: 1rem;
                font-weight: 400;
                color: #656565;

                strong {
                  color: $review;
                }

                @media (max-width: 992px - 1px) {
                  text-align: center;

                  strong {
                    font-size: 1.8rem;
                  }
                }
              }

              &:after {
                content: "";
                display: none;
              }

              &:hover {
                background-color: rgba(0, 0, 0, 0.04);
              }

              @media (max-width: 992px - 1px) {
                margin-right: 0;
                padding-right: 0;
              }
            }

            &.is-mobile {
              display: none;
            }

            @media (max-width: 992px - 1px) {
              &:not(&.is-mobile) {
                display: none;
              }

              &.is-mobile {
                display: inline-block;
              }
            }
          }

          &:first-child {
            a {
              padding-left: 0;
            }
          }

          &.active {
            a {
              opacity: 1;
              color: #333;
              font-weight: 700;
            }
          }
        }

        &:not(&.is-logged) {

          .menu-item-user,
          .menu-item-user-points {
            display: none;
          }

          li.menu-item-user-points.is-mobile {
            display: none;
          }
        }

        &.is-logged {

          .menu-item-signin,
          .menu-item-signup {
            display: none;
          }

          .menu-item-user,
          .menu-item-user-points:not(.is-mobile) {
            display: inline-block;
          }

          @media (max-width: 992px - 1px) {
            .menu-item-user {
              display: none;
            }

            .menu-item-user-points:not(.is-mobile) {
              display: none;
            }

            .menu-item-user-points.is-mobile {
              display: inline-block;
            }
          }
        }

        @media (max-width: 992px - 1px) {

          .menu-item-signin,
          .menu-item-signup,
          .menu-item-user {
            display: none;
          }
        }
      }

      &.align-right {
        text-align: right;

        ul.nav-header-menu {
          justify-content: flex-end;

          li {
            .btn {
              margin-left: 15px;

              &:last-child {
                margin-left: 0;
              }
            }
          }
        }
      }

      &:first-child,
      &:last-child {
        width: calc((100% - 200px) / 2);
        flex-grow: 1;
      }

      &:nth-child(2) {
        width: 200px;
        flex-shrink: 0;
        flex-grow: 0;
        text-align: center;

        @media (max-width: 992px - 1px) {
          width: auto;
        }
      }
    }

    @media (max-width: 992px - 1px) {
      justify-content: inherit;
    }
  }

  &.is-brand-only {
    .content-header {
      .content-header-section {
        text-align: center;

        .nav-header-menu,
        .btn-menu {
          display: none !important;
        }

        @media (max-width: 992px - 1px) {
          width: 100%;
        }
      }

      @media (max-width: 992px - 1px) {
        justify-content: center;
      }
    }
  }
}
