.review-rating-category {
  display: flex;
  flex-wrap: wrap;

  .category-item {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    text-align: center;
    cursor: pointer;
    transition: all 300ms;

    input[type="checkbox"] {
      display: none;

      &:checked~label {
        .category-text {
					background-color: #fff;
					border-color: $success;
					color: $success;
					box-shadow: $card-box-shadow;
        }
      }
    }

    label {
      position: relative;
      transition: all 300ms;
      cursor: pointer;

      .category-text {
        display: block;
        padding: 5px 10px;
        border: solid 2px #CBCBCB;
        border-radius: 0.625rem;
        margin-top: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: all 300ms;
      }
    }

    &:hover {
      label {
        .category-text {
          background-color: rgba(0, 0, 0, 0.08);
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
