// Badge
.badge {
  &.badge-primary {
    background-color: var(--primary);
		color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness-contrast));
  }
}


// Button
.btn {
  &.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
		color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness-contrast));

    &:active {}

    &:focus {
      background-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness-darker));
      border-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness-darker));
			color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness-contrast));
    }

    &:hover {
      background-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness-darker));
      border-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness-darker));
			color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness-contrast));
      // box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(var(--primary), 0.25);
    }
  }
}
