a {
  font-weight: 400;
  color: var(--primary);
  position: relative;
  cursor: pointer;
  text-decoration: none;

  &.link-effect {
    text-decoration: underline;
    color: #1c94f5;

    &.alert-link {
      font-weight: bolder;
      text-decoration: underline;
    }

    &.link-effect-muted {
      color: #555;

      &:before {
        background-color: #555;
      }
    }
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

#page-container {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  background-color: $body-bg;

  main#main-container {
    min-height: 100vh;

    .wrapper {
      section {
        margin-bottom: 35px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.load-content-animated {
        animation: fadein 0.5s ease-in;
      }
    }

    &.is-height-auto {
      min-height: auto;
    }

    &.landing-page {
      .wrapper {
        section{
          margin: 0px;
          padding: 50px 0;
        }
      }
    }
  }
}

body {
  position: relative;

  &.is-menu-open {
    overflow: hidden;
  }
}

label {
  font-weight: 400;
}
