section.page-banner {
  margin-bottom: 0 !important;

  .jumbotron {
    padding: 35px 2rem;
    margin-bottom: 0;
    position: relative;
    border-radius: 0;

    .container {
      position: relative;
      z-index: 10;

      h1 {
        font-size: 2.4rem;
        margin-bottom: 0;
      }

      p {
        font-size: 1.1rem;
        font-weight: 300;
        margin-bottom: 0;
      }
    }

    @media (max-width: 576px - 1px) {
			padding: 35px 15px;

      h1 {
        font-size: 2rem;
      }
    }

    @media (max-width: 401px - 1px) {
			padding: 30px 15px;
    }
  }
}
