section.products-lists {
  margin-bottom: 0 !important;

  section {
    padding: 15px 0;
    margin-bottom: 0 !important;
    background-color: $body-bg;

    &:nth-child(2n) {
      background-color: #fff;
    }

    .products-list-header {
      .product-list-title {
        font-size: 1.85rem;
        margin-bottom: 0;

        strong {
          font-weight: 600;
          color: #333;
        }
      }

      .product-list-lead {
        font-size: 1rem;
        font-weight: 400;
      }
    }

    &.products-list-offers {
      .product-list-title {
        strong {
          color: $product-offer;
        }
      }
    }

    &.products-list-features {
      .product-list-title {
        strong {
          color: $product-reward;
        }
      }
    }

    &.products-list-vouchers {
      .product-list-title {
        strong {
          color: #333;
        }
      }
    }

    &.products-list-reward {
      .product-list-title {
        strong {
          color: $product-reward;
        }
      }
    }
  }
}
