a {
  font-weight: 400;
  color: var(--primary);
  position: relative;
  cursor: pointer;
  text-decoration: none;

  &.link-effect {
    &:before {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      content: "";
      background-color: var(--primary);
      visibility: hidden;
      transform: translateY(6px);
      transform-origin: 50% 50%;
      opacity: 0;
      transition: transform .12s ease-out, opacity .12s ease-out,
    }

    &:hover {
      &:before {
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

#page-container {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  background-color: $body-bg;

  main#main-container {
    min-height: 100vh;

    .wrapper {
      animation: fadein 0.5s ease-in;

      section {
        margin-bottom: 35px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

body {
  position: relative;

  &.is-menu-open {
    overflow: hidden;
  }
}

label {
	font-weight: 400;
}
