.website-home {
  section.page-intro {
    margin-bottom: 0 !important;

    .jumbotron {
      background-image: url("/images/banner-intro.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 140px 2rem;
      margin-bottom: 0;
      position: relative;

      .container {
        position: relative;
        z-index: 10;

        p {
          font-size: 1.1rem;
          font-weight: 300;
        }
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 100%;
      }

      @media (max-width: 1200px - 1px) {
        padding: 90px 2rem;

        h1 {
          font-size: 2.5rem;
        }
      }

      @media (max-width: 576px - 1px) {
        padding: 60px 15PX;

        h1 {
          font-size: 2rem;
        }
      }

      @media (max-width: 401px - 1px) {
        padding: 40px 15PX;

        .btn {
          width: 100%;
          margin-top: 15px;
        }
      }
    }
  }

  section.messages-system {
    margin-top: 25px;
    margin-bottom: 0 !important;

    .alert {
      padding: 15px;
      margin-bottom: 0;
      transition: box-shadow 300ms;

      .close {
        color: #333;
      }

      .alert-content {
        display: flex;
        max-width: 90%;
        color: #333;

        .alert-container-text {
          display: flex;
          align-items: center;
          flex-grow: 1;

          .alert-text {
            margin-right: 65px;

            .alert-heading {
              font-size: 1.2rem;
              font-weight: 600;
              margin-bottom: 2.5px;
              line-height: 1.2;
            }

            @media (max-width: 768px - 1px) {
              margin-right: 0;
            }
          }

          .alert-action {
            i {
              font-size: 1.4rem;
            }
          }

          @media (max-width: 992px - 1px) {
            flex-wrap: wrap;

            .alert-container-text,
            .alert-action {
              width: 100%;
            }

            .alert-action {
              margin-top: 15px;
            }
          }
        }
      }

      &:hover {
        box-shadow: $card-box-shadow;
      }
    }
  }
}
