// Dropdown menu adjustments

// The dropdown menu
.dropdown-menu {
  min-width: $dropdown-min-width;
  padding: $dropdown-padding-y 0;
  margin: $dropdown-spacer 0 0; // override default ul
  font-size: $font-size-base; // Redeclare because nesting can cause inheritance issues
  color: $body-color;
  border: $dropdown-border-width solid $dropdown-border-color;
  @include border-radius($border-radius);
  @include box-shadow($dropdown-box-shadow);
}


.dropdown-divider {
  @include nav-divider($dropdown-divider-bg);
}


// Links, buttons, and more within the dropdown menu
//
// `<button>`-specific styles are denoted with `// For <button>s`
.dropdown-item {
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  font-weight: $font-weight-normal;
  color: $dropdown-link-color;
  font-size: $dropdown-item-font-size;
  transition: $dropdown-item-transition;

  @include hover-focus {
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
  }

  &.active,
  &:active {
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-active-bg;
  }

  &.disabled,
  &:disabled {
    color: $dropdown-link-disabled-color;
  }
}


// Dropdown section headers
.dropdown-header {
  padding: $dropdown-padding-y $dropdown-item-padding-x;
  font-size: $font-size-sm;
  color: $dropdown-header-color;
}
