/*! Fonts Import and Variable */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

/*! Whitelabel Color Utilites (Override Bootstrap) */
$brand-text-contrast: #FFFFFF;

/*! Bootstrap Color (Override Bootstrap) */
$primary: #36255D;
$info: #0EC4D3;
$warning: #FFD41E;
$danger: #FC1F47;

/*! Whitelabel Product Type Color */
$product-reward: #2476D3;
$product-offer: #EF390D;

/*! Whitelabel Context Color */
$review: #ffb400;

/*! Adding new colors to Map */
$theme-colors: (
	"brand-text-contrast": $brand-text-contrast,
	"product-reward": $product-reward,
	"product-offer": $product-offer,
	"review": $review
);

/*! Whitelabel Settings (Override Bootstrap) */
$body-bg: #f5f6f7 !default;

/*! Brand Colors */
$brand-facebook: #3b5998 !default;
$brand-instagram: #c13584 !default;
$brand-whatsapp: #25d366 !default;

/*! Shards Dashboard Colors */
// New grays
$fiord-blue: #3D5170 !default;
$shuttle-gray: #5A6169 !default;
$reagent-gray: #818EA3 !default;
$mischka: #CACEDB !default;
$athens-gray: #E9ECEF !default;

// New grays map
$new-grays: () !default;
$new-grays: map-merge(("fiord-blue" : $fiord-blue,
											 "shuttle-gray": $shuttle-gray,
											 "reagent-gray": $reagent-gray,
											 "mischka" : $mischka,
											 "athens-gray" : $athens-gray,
											), $new-grays);

/*! Fonts variables (Override Bootstrap) */
$font-family-sans-serif: "Lato",
-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-xl: 1.428571429rem !default;
$font-size-lg: 1.285714286rem !default;
$font-size-md: 1.142857143rem !default;
$font-size-sm: 0.928571429rem !default;
$font-size-xs: 0.857142857rem !default;

$headings-font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$headings-font-weight: 300 !default;

/*! Button Variables */
$btn-font-family: $headings-font-family !default;

/*! Nav Variables */
$nav-font-family: $font-family-base !default;

/*! Navbar Variables */
$navbar-font-family: $font-family-base !default;

/*! Pagination Variables */
$pagination-font-family: $font-family-base !default;

/*! Card Variables */
$card-cap-bg: #FFF;
$card-title-font-weight: 300 !default;
$card-link-font-family: $headings-font-family !default;
$card-spacer-y: 1.25rem !default;
$card-spacer-x: 1.25rem !default;

/*! Badge Variables */
$badge-font-family: $font-family-base !default;

/*! Text Variables */
$text-light-color: $reagent-gray !default;

/*! Dropdown Variables */
$dropdown-min-width: 250px !default;
$dropdown-padding-y: 0 !default;
$dropdown-item-padding-y: .875rem !default;
$dropdown-item-padding-x: .875rem !default;

$space-base: 24px !default;
$space-mobile: 10px !default;
$space-side: 18px !default;
$space-row-gutter-tiny: 6px !default;
$space-block: 18px !default;
$space-boxed:  1200px !default;
$space-narrow:  92% !default;
$space-breaks: (
  5: (
    x: 5px,
    y: 5px
  ),
  10: (
    x: 10px,
    y: 10px
  ),
  15: (
    x: 15px,
    y: 15px
  ),
  20: (
    x: 20px,
    y: 20px
  ),
  30: (
    x: 30px,
    y: 30px
  ),
  50: (
    x: 50px,
    y: 50px
  ),
  100: (
    x: 100px,
    y: 100px
  ),
  150: (
    x: 150px,
    y: 150px
  ),
  200: (
    x: 200px,
    y: 200px
  ),
  300: (
    x: 300px,
    y: 300px
  )
) !default;
