/*! Google Fonts Import */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$primary: #2B5E1D;

$dropdown-item-padding-y: .375rem;
$dropdown-item-padding-x: .875rem;
