.website-account-remove {

  section.account-remove {
    padding: 15px 0;

    .card {
      max-width: 100%;
      background-color: #fff;
      box-shadow: $card-box-shadow;

      .card-header,
      .card-footer {
        background-color: #fff;
      }

      .card-header {
        padding: 10px 20px;

        .card-title {
          font-size: 1.4rem;
          font-weight: 500;
          margin-bottom: 0;
        }
      }

      .card-body {
        padding: 15px 20px;

        .form-group {
          margin-bottom: 25px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .card-footer {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
