.website-delivery {
  .products-list {
    .card {
      &.product-card {
        margin-top: 0.375rem;
        margin-bottom: 0.375rem;
        min-height: 150px;
        align-self: center;
        color: black;
        flex: 1 1 auto;

        .card-body {
          display: flex;
          justify-content: space-between;

          .card-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .product-price {
              margin-bottom: 0;
              margin-left: 0;
            }

            .product-description {
              margin-bottom: 1.5rem;
              font-weight: 300;
            }
          }

          .card-image {
            margin-top: auto;
            margin-bottom: auto;
          }
        }
      }

      &:hover {
        box-shadow: $card-box-shadow;
      }
    }
  }
}
