.website-detail {
  section.product-detail {
    margin: 30px 0 !important;

    .card {
      border: 0;
      margin-bottom: 25px;

      .card-header {
        .card-title {
          font-weight: 500;
        }
      }

      &.card-product-infos {
        display: flex;
        flex-flow: row;
        color: $body-color;
        transition: box-shadow 300ms;

        .card-image {
          flex: 0 0 auto;
          width: 60%;
          position: relative;
          padding-top: 30px;
          padding-bottom: 40%;
          border-top-left-radius: .625rem;
          border-bottom-left-radius: .625rem;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          @media (max-width: 992px - 1px) {
            width: 100%;
            padding-bottom: 55%;
            border-top-right-radius: .625rem;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
          }
        }

        .card-body {
          display: flex;
          flex: 1 1 auto;
          flex-flow: column;
          position: relative;
          padding: 0;
          border-top-right-radius: .625rem;
          border-bottom-right-radius: .625rem;

          .card-content-info {
            width: 100%;
            display: flex;
            align-items: center;
            color: #FFF;
            border-top-right-radius: .625rem;

            .card-product-points,
            .card-product-points-lead,
            .card-product-type {
              display: flex;
              align-items: center;
              height: 35px;
              padding: 0 1.5625rem;

              @media (max-width: 401px - 1px) {
                height: 32px;
              }
            }

            .card-product-points {
              position: relative;
              font-size: 1.2rem;
              font-weight: 700;
              padding-right: 30px;

              &:before {
                position: absolute;
                content: '';
                display: block;
                width: 0px;
                height: 0px;
                border-top: 17.5px solid transparent;
                border-bottom: 17.5px solid transparent;
                border-right: 14px solid transparent;
                top: 0;
                right: 0;
              }

              @media (max-width: 401px - 1px) {
                font-size: 1.1rem;

                &:before {
                  border-top: 16px solid transparent;
                  border-bottom: 16px solid transparent;
                }
              }
            }

            .card-product-points-lead {
              flex-grow: 1;
              font-weight: 400;
              font-size: 1.05rem;
              padding: 0 30px 0 1.5625rem;
              position: relative;
              background-color: #fff;

              strong {
                font-weight: 700;
              }

              &:before {
                position: absolute;
                content: '';
                display: block;
                width: 0px;
                height: 0px;
                border-top: 17.5px solid transparent;
                border-bottom: 17.5px solid transparent;
                border-right: 14px solid transparent;
                top: 0;
                right: 0;
              }

              @media (max-width: 401px - 1px) {
                font-size: 0.95rem;

                &:before {
                  border-top: 16px solid transparent;
                  border-bottom: 16px solid transparent;
                }
              }
            }

            .card-product-type {
              margin-left: auto;
              border-top-right-radius: .625rem;
              padding: 0 1.5625rem;

              i {
                font-size: 1.2rem;
                color: #FFF;
              }

              @media (max-width: 992px - 1px) {
                border-top-right-radius: 0;
              }
            }

            @media (max-width: 992px - 1px) {
              border-top-right-radius: 0;
            }
          }

          .card-content-main,
          .card-content-how-to-use {
            padding: 15px 1.5625rem;

            h2 {
              font-size: 1.2rem;
              font-weight: 500;
              margin-bottom: 0;
            }
          }

          .card-content-main {
            .card-product-value {
              font-size: 0.9rem;
            }

            .card-title {
              font-size: 1.563rem;
              font-weight: 600;
              line-height: 1.3;
              margin-top: 0;
            }

            .card-rules {
              font-size: 0.95rem;
              font-style: italic;
            }
          }

          .card-content-how-to-use {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: auto;
            border-top: 1px solid #e1e5eb;
            font-weight: 600;
            color: #666;

            .card-content-title {
              flex: 1 1 auto;
              display: flex;
              align-items: center;
            }

            .card-content-action {
              flex: 0 0 auto;

              .btn-get-product {
                @extend .btn-outline-secondary;
              }
            }
          }

          @media (max-width: 992px - 1px) {
            border-top-right-radius: 0;
          }
        }

        @media (max-width: 992px - 1px) {
          flex-wrap: wrap;
        }
      }

      &.card-product-how-to-use {
        .card-body {
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          counter-reset: how-to-use;

          .how-to-use-item {
            width: calc(100% / 5);
            border-right: 1px solid rgba(0, 0, 0, 0.125);
            padding: 15px 10px;
            text-align: center;
            position: relative;

            img {
              max-height: 55px;
            }

            .item-text {
              margin-top: 10px;
              font-weight: 700;

              @media (max-width: 768px - 1px) {
                font-size: 0.9rem;
              }
            }

            &:before {
              position: absolute;
              top: 5px;
              left: 15px;
              counter-increment: how-to-use;
              content: counter(how-to-use);
              font-size: 2rem;
              font-weight: 700;
              opacity: 0.3;
            }

            &:nth-child(5n) {
              border-right: 0;
            }

            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right: 0;
            }

            @media (max-width: 768px - 1px) {
              width: calc(100% / 2);
              border-top: 1px solid rgba(0, 0, 0, 0.125);

              &:nth-child(5n) {
                width: 100%;
              }

              &:first-child,
              &:nth-child(2) {
                border-top: 0;
              }

              &:nth-child(2n) {
                border-right: 0;
              }
            }
          }
        }
      }

      &.card-voucher-countdown {
        .card-body {
          padding: 15px 1.5625rem;

          .voucher-countdown {
            display: flex;

            .countdown-item {
              padding: 5px 10px;
              text-align: center;

              .countdown-value,
              .countdown-text {
                display: inline-block;
              }

              .countdown-value {
                font-size: 2.5rem;
                font-weight: 600;
                margin-right: 5px;

                @media (max-width: 511px - 1px) {
                  font-size: 2rem;
                }
              }

              .countdown-text {
                @media (max-width: 511px - 1px) {
                  font-size: .9rem;
                }
              }

              &:first-child {
                padding-left: 0;
              }

              &:last-child {
                padding-right: 0;
              }
            }
          }
        }
      }

      &.card-product-subinfos {
        .card-body {
          padding: 0;

          .card-content-rules,
          .card-content-stores {
            padding: 15px 1.5625rem;
            border-bottom: 0;

            .card-content-title {
              font-size: 1.3rem;
              font-weight: 500;
              margin-bottom: 10px;
            }

            .list-group {

              .list-group-item {
                border-right: 0;
                border-left: 0;
                padding: 5px 0 5px 20px;
                flex-direction: column;
								align-items: flex-start;
								position: relative;
								border: 0;

                .item-container {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;

                  h5 {
                    color: var(--primary);
                    font-size: 1rem;
                    font-weight: 500;
                    margin-bottom: 0;

                    small {
                      font-size: 90%;
                      color: #444;
                    }
                  }

                  .badge {
                    display: flex;
                    height: 100%;
                    align-items: center;
                    margin-left: 15px;
                  }
                }
              }

              li.list-group-item {
                &:before {
                  content: '\f111';
                  position: absolute;
                  top: 10px;
                  left: 0;
                  font-family: 'Font Awesome 5 Pro';
                  font-size: 8px;
                  font-weight: 500;
                }
              }

              div.list-group-item,
              li.list-group-item {
                h5 {
                  font-size: 1.1rem;
                  font-weight: 400;
                  margin-bottom: 0;
                }

                p {
                  font-size: 0.95rem;
                }
              }

              a.list-group-item {
                padding: 8px 0;
                color: var(--primary);

                &:hover,
                &:focus,
                &:active {
                  background-color: transparent;
                }
              }
            }
          }

          .card-content-rules {
            .list-group {
              .list-group-item {
                padding-bottom: 5px;
              }
            }
          }

          .card-content-stores {
            .list-group {
              .list-group-item {
                border-bottom: 1px solid #e1e5eb;

                &:last-child {
                  border-bottom: 0;
                }
              }
            }
          }
        }
      }

      &.card-alert-infos {
        @media (max-width: 769px - 1px) {
          .btn {
            width: 100%;
            margin-bottom: 5px;
            margin-left: 0 !important;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      &.card-voucher-code {
        .card-body {
          text-align: center;
          padding: 10px 15px;

          small {
            font-size: 1.1rem;
            margin-bottom: 10px;
          }

          .voucher-code {
            font-size: 2rem;
            font-weight: 700;
            font-family: $font-family-monospace;
            letter-spacing: 1px;
          }

          @media (max-width: 992px - 1px) {
            small {
              font-size: 1rem;
            }

            .voucher-code {
              font-size: 1.4rem;
            }
          }
        }

        &.is-used {
          background-color: rgba($success, 0.15);
          border: dashed 2px rgba($success, 0.65);

          .voucher-code {
            font-family: $font-family-base;
            font-weight: 700;
          }
        }

        &.is-expired {
          background-color: rgba($danger, 0.15);
          border: dashed 2px rgba($danger, 0.65);

          .voucher-code {
            font-family: $font-family-base;
            font-weight: 700;
          }
        }
      }
    }

    .btn-get-product {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn-text,
      .btn-icon {
        display: inline-block;
      }

      .btn-text {
        width: calc(100% - 30px);
        font-weight: 400;
        text-align: center;
        white-space: normal;
        margin-left: 30px;

        strong {
          font-weight: 600;
        }

        @media (max-width: 769px - 1px) {
          margin-left: 0;
        }
      }

      .btn-icon {
        width: 30px;
        text-align: right;
      }
    }
  }

  &.is-offer {
    section.product-detail {
      .card {
        &.card-product-infos {
          .card-body {
            .card-content-info {
              background-color: $product-offer;

              .card-product-points {
                background-color: $product-offer;

                &:before {
                  border-right-color: #FFF;
                }
              }

              .card-product-points-lead {
                background-color: #fff;
                color: $product-offer;

                &:before {
                  border-right-color: $product-offer;
                }
              }

              .card-product-type {
                i {
                  &:before {
                    content: "\f06b";
                  }
                }
              }
            }
          }
        }

        &.card-voucher-code {
          &.is-generated {
            background-color: rgba($product-offer, 0.15);
            border: dashed 2px rgba($product-offer, 0.65);
          }
        }
      }
    }

    &.is-voucher-generated {
      section.product-detail {
        .card {
          &.card-product-infos {
            .card-body {
              .card-content-info {
                .card-product-points {
                  display: none;
                }

                .card-product-points-lead {
                  background-color: $product-offer;
                  color: #FFF;
                }
              }
            }
          }
        }
      }
    }

    &.is-available {
      section.product-detail {
        .btn-get-product {
          @extend .btn-product-offer;
        }
      }
    }

    &.is-not-available {
      section.product-detail {
        .btn-get-product {
          @extend .btn-product-offer;
          @extend .disabled;
        }
      }
    }
  }

  &.is-reward {
    section.product-detail {
      .card {
        &.card-product-infos {
          .card-body {
            .card-content-info {
              background-color: $product-reward;

              .card-product-points {
                background-color: $product-reward;

                &:before {
                  border-right-color: #FFF;
                }
              }

              .card-product-points-lead {
                background-color: #fff;
                color: $product-reward;

                &:before {
                  border-right-color: $product-reward;
                }
              }

              .card-product-type {
                i {
                  &:before {
                    content: "\f005";
                  }
                }
              }
            }
          }
        }

        &.card-voucher-code {
          &.is-generated {
            background-color: rgba($product-reward, 0.15);
            border: dashed 2px rgba($product-reward, 0.65);
          }
        }
      }
    }

    &.is-voucher-generated {
      section.product-detail {
        .card {
          &.card-product-infos {
            .card-body {
              .card-content-info {
                .card-product-points {
                  display: none;
                }

                .card-product-points-lead {
                  background-color: $product-reward;
                  color: #FFF;
                }
              }
            }
          }
        }
      }
    }

    &.is-available {
      section.product-detail {
        .btn-get-product {
          @extend .btn-product-reward;
        }
      }
    }

    &.is-not-available {
      section.product-detail {
        .btn-get-product {
          @extend .btn-product-reward;
          @extend .disabled;
        }
      }
    }
  }
}
