.landing-page {
  .card {
    box-shadow: black;
  }

  .landing-page-banner {
    background-color: var(--primary);
    position: relative;
    min-height: 295px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px;

    @media (min-width: 768px) {
      padding: 30px 115px;
    }

    .wrapper {
      .landing-page-banner-content {
        .banner-title{
          color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness-contrast));
          font-size: 30px;
        }

        .banner-description {
          color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness-contrast));
          font-size: 18px;
          font-weight: 300;
        }
      }

      .landing-page-banner-action {
        @media (max-width: 501px - 1px) {
          .btn {
            width: 100%;

            &:first-child {
              margin-top: 0 !important;
            }

            &:last-child {
              margin-top: 15px;
            }
          }
        }
      }
    }
  }

  .landing-page-join-us {
    background-color: var(--primary);
    position: relative;
    min-height: 295px;

    .wrapper {
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-line-pack: center;
          align-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 15px;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;

      .join-us-content, .join-us-action {
        width: 100%;
      }

      .join-us-title {
        font-size: 26px;
        font-weight: 400;
        line-height: 1.35;
        color: #ffff;

        strong {
          font-weight: 600;
          color: #ffff;
        }
      }

      .join-us-description {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.35;
        color: #ffff;
      }
    }
  }

  .landing-page-reward-highlight {
    min-height: 295px;
    padding: 30px;

    @media (min-width: 768px) {
      padding: 30px 115px;
    }

    .wrapper {
      height: 100%;

      .reward-highlight-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .card-wrapper {
          @media (min-width: 768px) {
            order: 1;
            margin-right: 20px;
            max-width: 320px;
          }
        }

        .text-wrapper {
          display: flex;
          flex-direction: column;
          max-width: 532px;

          .reward-highlight-description {
            .description-text {
              margin-bottom: 5px;
            }

            .description-observation {
              font-style: italic;
            }
          }

          i {
            margin: 0 auto 15px auto;
            color: $product-reward;

            @media (min-width: 768px) {
              margin: 0 0 15px 0;
            }
          }

          h4 {
            font-weight: 500;

            span {
              color: $product-reward;
            }
          }

          @media (min-width: 768px) {
            order: 2;
            margin-left: 40px;
          }
        }

        .reward-highlight-action {
          width: 100%;

          .btn {
            width: 100%;
            background-color: $product-reward;
            border-color: $product-reward;
          }

          @media (min-width: 768px) {
            order: 3;

            .btn {
              width: auto;
            }
          }
        }

        @media (min-width: 768px) {
          flex-direction: row;
        }
      }

      @media (min-width: 768px) {
        padding: 0 50px;
      }
    }
  }

  .landing-page-register-and-win {
    min-height: 295px;
    padding: 30px;

    @media (min-width: 768px) {
      padding: 30px 115px;
    }

    .wrapper {
      height: 100%;

      .register-and-win-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .card-wrapper {
          @media (min-width: 768px) {
            order: 1;
            margin-right: 20px;
            max-width: 320px;
          }
        }

        .text-wrapper {
          display: flex;
          flex-direction: column;
          max-width: 532px;

          .register-and-win-description {
            .description-text {
              margin-bottom: 5px;
            }

            .description-observation {
              font-style: italic;
            }
          }

          i {
            margin: 0 auto 15px auto;
            color: $product-offer;

            @media (min-width: 768px) {
              margin: 0 0 15px 0;
            }
          }

          h4 {
            font-weight: 500;

            span {
              color: $product-offer;
            }
          }

          @media (min-width: 768px) {
            order: 2;
            margin-left: 40px;
          }
        }

        .register-and-win-action {
          width: 100%;

          .btn {
            width: 100%;
          }

          @media (min-width: 768px) {
            order: 3;

            .btn {
              width: auto;
            }
          }
        }

        @media (min-width: 768px) {
          flex-direction: row;
        }
      }

      @media (min-width: 768px) {
        padding: 0 50px;
      }
    }
  }

  .landing-page-how-use {
    background-color: $white;
    min-height: 295px;
    padding: 30px;

    .wrapper {
      height: 100%;

      .how-use-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .how-use-title {
          font-weight: 500;
          margin-bottom: 20px;
          color: var(--primary);
        }

        .how-use-list-item {
          display: flex;
          flex-direction: column;

          @media (min-width: 576px) {
            padding: 0 50px;
          }

          @media (min-width: 768px) {
            padding: 0;
            flex-direction: row;
            justify-content: space-around;
          }

          @media (min-width: 992px) {
            width: 90%;
          }

          @media (min-width: 1200px) {
            width: 80%;
            max-width: 960px;
          }

          .how-use-item {
            color: var(--primary);
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-grow: 1;
            padding: 20px;

            @media (min-width: 768px) {
              border-right: 1px solid black;
            }

            &:last-child {
              border: none;
            }

            h5 {
              color: var(--primary);
              font-weight: 400;
              margin: 10px;
              text-align: center;
            }

            p {
              color: #252525;
              margin: 0;
              text-align: center;
            }
          }
        }

        .landing-page-how-use-action {
          margin-top: 20px;
          text-align: center;
          width: 100%;

          .btn {
            width: 100%;
          }

          @media (min-width: 768px) {
            .btn {
              width: auto;
            }
          }
        }
      }
    }
  }

  .landing-page-reward-list {
    min-height: 295px;
    padding: 30px;

    @media (min-width: 768px) {
      padding: 30px 115px;
    }

    .wrapper {
      height: 100%;

      .reward-list-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .cards {
          flex-direction: column;

          @media (min-width: 768px) {
            flex-direction: row;
          }

          .card-wrapper {
            @media (min-width: 768px) {
              margin-right: 20px;
              max-width: 320px;
              min-width: 250px;
            }
          }
        }

        .text-wrapper {
          display: flex;
          flex-direction: column;
          max-width: 532px;
          margin-bottom: 20px;

          .reward-list-description {
            .description-text {
              margin-bottom: 5px;
            }

            .description-observation {
              font-style: italic;
            }
          }

          i {
            margin: 0 auto 15px auto;
            color: $product-reward;

            @media (min-width: 768px) {
              margin: 0 0 15px 0;
            }
          }

          h4 {
            font-weight: 500;

            span {
              color: $product-reward;
            }
          }
        }

        .reward-list-action {
          width: 100%;

          .btn {
            width: 100%;
            background-color: $product-reward;
            border-color: $product-reward;
          }

          @media (min-width: 768px) {
            .btn {
              width: auto;
              margin-top: 20px;
            }
          }
        }

        @media (min-width: 768px) {
          justify-content: center;
        }
      }

      @media (min-width: 768px) {
        padding: 0 50px;
      }
    }
  }
}

