.website-loyalty-panel {
  .page-header-intro {
    background-color: var(--primary);

    .wrapper {
      .page-header-content {

        .header-intro-title,
        .header-intro-description {
          color: var(--brand-text-contrast);
        }
      }
    }
  }

  section.loyalty-panel {
    padding: 30px 0;
    margin-bottom: 0 !important;

    .card {
      &.card-user-info {
        box-shadow: $card-box-shadow;
        margin-bottom: 24px;

        .card-header {
          height: 80px;
          background-color: var(--primary);
        }

        .card-body {
          padding-left: 0;
          padding-right: 0;

          .user-info-photo {
            margin-top: -70px;
            display: flex;
            justify-content: center;

            .user-photo-file {
              width: 100px;
              height: 100px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              border-radius: 50%;
              box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
            }
          }

          .user-info-main {
            text-align: center;
          }

          .user-info-main,
          .user-info-contact,
          .user-info-personal {
            padding: 20px;
            border-bottom: solid thin #e1e5eb;

            .user-name {
              margin-bottom: 1px;
            }

            .user-date-begin-client {
              font-size: 0.85rem;
              font-weight: 400;
              font-style: italic;
              margin-bottom: 0;
            }

            .user-info-item {
              display: flex;
              align-items: center;
              margin-bottom: 10px;

              .item-icon {
                margin-right: 15px;

                i {
                  font-size: 1.1rem;
                  color: var(--primary);
                }
              }

              .item-content {
                span {
                  display: block;

                  &:last-child {
                    font-weight: 700;
                  }
                }
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }

          .user-info-personal {
            border: 0;
            padding-bottom: 0;
          }
        }
      }

      &.card-points-validation,
      &.card-points-summary {
        margin-bottom: 15px;
        box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);

        .card-header,
        .card-footer {
          background-color: #fff;
        }

        .card-header {
          .card-title {
            font-weight: 500;
          }
        }

        .card-body {
          padding: 0;
        }

        .card-footer {
          text-align: center;
        }
      }

      &.card-points-validation {
        .card-header {
          .card-title {
						font-weight: 400;

            strong {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
