.mgm-page {
  .mgm-disabled-info {
    .bg-mgm-color {
      background-color: #7A00FF;
    }

    .banner-wrapper {
      padding: 30px 0;

      h3 {
        color: #FFF;
        margin: 0;
        font-weight: 400;
        font-size: 24px;
      }
    }

    .content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 0;

      .text-wrapper {
        text-align: center;
        margin: 10px 0;
        min-width: 290px;
        max-width: 50%;

        h4 {
          font-weight: 400;
        }
      }
    }
  }

  .mgm-home {
    .bg-mgm-color {
      background-color: #7A00FF;;
    }

    .card:hover {
      box-shadow: none;
    }

    section {
      background-color: #FFF;
    }

    .list-cards {
      margin: 0;
    }

    .section-title {
      margin-bottom: 30px;
    }

    .banner {
      display: flex;
      height: 350px;
      align-items: center;
      text-align: center;

      .share-link-wrapper {
        display: flex;

        .copy-link {
          max-width: 260px;
          margin-right: 20px;

          .shortened-link {
            height: 40px;
            font-size: 16px;
          }
          .btn-copy {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
          }
        }

      }

      .text-wrapper {
        color: #FFF;

        h3 {
          color: #FFF;
          strong {
            font-weight: bold;
          }
        }

        .description {
          font-size: 20px;
        }
      }

      .image-wrapper {
        text-align: center;
      }

      .social-network-button {
        justify-content: center;
        display: flex;
        align-items: center;
        width: 34px;
        height: 34px;
        font-size: 16px;
      }
    }

    .info-banner {
      min-height: 166px;
      background-color: #490099;
      display: flex;

      .info-wrapper {
        display: flex;
        color: $white;
        align-items: center;
        justify-content: center;

        .info-icon-wrapper {
          margin-right: 25px;
        }

        .info-description-wrapper {
          .points-won {
            font-size: 26px;
            color: $white;

            strong {
              font-weight: 500;
            }
          }

          .extra-text {
            font-size: 16px;
          }
        }

        .info-button-wrapper {
          margin-left: auto;
        }
      }

      .text-mgm-info {
        color: #490099;
      }
    }

    .how-use {
      min-height: 395px;
      display: flex;
      align-items: center;
      padding: 30px 0;

      .section-title {
        font-size: 20px;
      }

      .card {
        margin-bottom: 10px;
      }

      i {
        color: #7A00FF;
      }
    }

    .register-and-win {
      min-height: 295px;
      padding: 30px 0;

      .content-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1140px;

        .card {
          box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .text-wrapper {
          display: flex;
          flex-direction: column;

          i {
            font-size: 70px;
            color: $product-offer;
            margin-bottom: 20px;
          }

          .description {
            font-weight: 400;
            margin-bottom: 30px;
            font-size: 20px;

            .highlight {
              color: $product-offer;
            }
          }
        }

        .btn-wrapper {
          width: 100%;
          text-align: center;

          .btn {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 13px;
            text-align: center;
            width: 100%;
          }
        }
      }
    }

    .rewards {
      padding: 30px 0;

      .content-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .text-wrapper {
          display: flex;
          flex-direction: column;
          max-width: 532px;
          margin-bottom: 20px;

          .reward-list-description {
            .description-text {
              margin-bottom: 5px;
            }

            .description-observation {
              font-style: italic;
            }
          }

          i {
            margin: 0 auto 15px auto;
            color: $product-reward;
          }

          h4 {
            margin: 0;
            text-align: center;
            font-weight: 500;

            .text-highlight {
              color: $product-reward;
            }
          }
        }

        .btn-wrapper {
          width: 100%;

          .btn {
            width: 100%;
            background-color: $product-reward;
            border-color: $product-reward;
            font-size: 13px;
          }
        }
      }
    }

    .rules {
      padding: 30px 0;

      .content-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
          margin: 0;
          text-align: center;
          font-weight: 500;
        }

        .rules-list {
          display: flex;
          flex-direction: column;
          padding: 10px 0;

          .rule-row {
            display: flex;
            flex-direction: row;
            max-width: 750px;

            .number-wrapper {
              .number-circle {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $gray-200;
                width: 40px;
                height: 40px;
                margin: 0;
              }
            }

            .rule-wrapper {
              display: flex;
              align-items: center;
              p {
                margin: 0;
              }
            }
          }
        }
      }
    }

    .footer {
      display: flex;
      align-items: center;
      height: 184px;
      text-align: center;

      .text-wrapper {
        display: flex;
        h3 {
          font-size: 26px;
          color: #FFF;
        }
      }
    }

    @media (max-width: 768px) {
      .banner {
        .share-link-wrapper {
          flex-direction: column;
          align-items: center;
          .copy-link {
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
      }

      .info-banner {
        padding: 30px 0;
        .info-wrapper {
          flex-direction: column;

          .info-icon-wrapper {
            margin-right: 0;
          }

          .info-description-wrapper {
            margin-top: 15px;
            text-align: center;

            .points-won {
              font-size: 22px;
            }
          }

          .info-button-wrapper {
            margin-right: auto;
            margin-top: 30px;
          }
        }
      }
    }

    @media (min-width: 768px) {
      .banner {
        text-align: left;
      }

      .how-use {
        .card {
          margin-bottom: 0;
        }

        .section-title {
          font-size: 24px;
        }
      }

      .register-and-win {
        .content-wrapper {
          .text-wrapper{
            text-align: left;

            .description {
              font-size: 26px;
            }
          }

          .btn-wrapper {
            .btn {
              width: 300px;
            }
          }
        }
      }

      .rewards {
        .content-wrapper {
          justify-content: center;

          .text-wrapper {
            i {
              margin: 0 0 15px 0;
            }
          }

          .btn-wrapper {
            .btn {
              width: auto;
              margin-top: 20px;
            }
          }
        }
      }

      .footer {
        display: flex;
        align-items: center;
        height: 144px;
        text-align: left;

        p {
          font-size: 26px;
          margin: 0;
        }
      }
    }

    @media (min-width: 992px) {
      .register-and-win {
        .content-wrapper {
          flex-direction: row;

          .text-wrapper {
            flex: 1;
            order: 2;
            margin-left: 40px;

            i {
              margin: 0 0 15px 0;
            }
          }

          .btn-wrapper {
            order: 3;
          }
        }
      }
    }
  }
}
