.website-offers {
  .page-header-intro {
    background-color: $product-offer;

    .header-intro-title {
      color: #FFF;
    }
  }

  section.products-lists {
    section {
      .products-list-header {
        .product-list-title {
          strong {
            font-weight: 600;
            color: $product-offer;
          }
        }
      }
    }
  }
}
