.website-rewards {
  .page-header-intro {
    background-color: $product-reward;

    .wrapper {
      .page-header-content {
        .header-intro-title,
        .header-intro-description {
          color: color-yiq($product-reward);
        }
      }
    }
  }

  section.products-lists {
    section {
      .products-list-header {
        .product-list-title {
          strong {
            font-weight: 600;
            color: $product-reward;
          }
        }
      }
    }
  }
}
