.website-user-account-remove {
  .page-header-intro {
    background-color: $danger;

    .wrapper {
      .page-header-content {

        .header-intro-title,
        .header-intro-description {
          color: color-yiq($danger);
        }
      }
    }
  }

  section.user-account-remove {
    padding: 30px 0;

    @media (max-width: 769px - 1px) {
      .btn {
        width: 100%;
        margin-bottom: 5px;
        margin-left: 0 !important;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
