.website-user-infos-complete {
  main#main-container {
    .wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .user-infos-container {
        width: 450px;
        max-width: 100%;
        margin: 50px 15px 0;

        .card {
          &.card-user-infos {
            margin: 0 0 30px;
            border-top: solid 3px var(--primary);

            .card-header {
              padding: 20px;
							display: flex;
							align-items: center;

              .card-header-icon {
                flex-shrink: 0;
                margin-left: 15px;

                i {
                  color: var(--primary);
                  font-size: 3rem;
                }
              }

              .card-header-content {
                flex-grow: 1;

                h4,
                p {
                  margin-bottom: 0;
                }
              }
            }

            .card-body {
							padding: 20px;

              .user-infos-form-container {
                .form-group {
                  margin-bottom: 20px;

                  &:last-child {
                    margin-bottom: 0;
                  }
                }
              }
            }

            .card-footer {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 20px;

              .card-footer-section {
                flex-grow: 0;
              }

              @media (max-width: 576px - 1px) {
                flex-direction: column-reverse;
                flex-wrap: wrap;

                .card-footer-section {
                  width: 100%;
                  text-align: center;

                  &:first-child {
                    margin-top: 25px;
                  }
                }
              }
            }

            @media (max-width: 991px - 1px) {
              margin: 0 0 20px;
            }
          }
        }

        .user-infos-actions {
          text-align: center;
          margin-bottom: 20px;
        }

        @media (max-width: 991px - 1px) {
          margin: 20px 15px 0;
        }
      }
    }
  }
}
