.website-user-edit {
  .page-header-intro {
    background-color: var(--primary);

    .wrapper {
      .page-header-content {

        .header-intro-title,
        .header-intro-description {
          color: var(--brand-text-contrast);
        }
      }
    }
  }

  section.user-edit {
    padding: 30px 0;
  }
}
