.website-user-edit {
  .page-header-intro {
    background-color: var(--primary);

    .wrapper {
      .page-header-content {

        .header-intro-title,
        .header-intro-description {
          color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness-contrast));
        }
      }
    }
  }

  section.user-edit {
    padding: 15px 0;
  }
}
